---
import HeaderCategoriesPost from "./HeaderCategoriesPost.astro";
import { contentLinkCategory, contentLinkPost } from '../../../helper/contentLink';
import {SITE_CATEGORIES} from "../../../consts";
import { contentGetCategoryPosts } from '../../../helper/content';
import './HeaderCategories.css'

const categoriesData: {
  title: string,
  collection: string,
  description: string,
  link: string,
  lastPosts: {
    title: string, link: string
  }[]
}[] = []

for (const category of SITE_CATEGORIES) {
  const data = await contentGetCategoryPosts(category.collection, 3)
  categoriesData.push({
    title: category.title,
    collection: category.collection,
    description: category.description,
    lastPosts: data.posts.map((article) => ({
      title: article.title, link: contentLinkPost(category.collection, article["slug"])
    })),
    link: contentLinkCategory(category.collection),
  })
}

const initialCategory = categoriesData[0]!;
const initialTitle = 'Alles aus <span class="js--title">' + initialCategory.title + '</span> anzeigen'
---
<div class="hc">
  <template id="header-categories-post">
    <HeaderCategoriesPost title="" link="" />
  </template>
  <header-categories>
    <div class="hc__container container">
      <div class="hc__sidebar">
        <h2 class="hc__sidebar-title">Kategorien</h2>
        <div class="hc__sidebar-container">
          {categoriesData.map((category) => (
            <button
              class="hc__sidebar-button border shadow shadow--hover js--category-button"
              data-link={category.link}
              data-description={category.description}
              data-last-posts={JSON.stringify(category.lastPosts)}>
              {category.title}
            </button>
          ))}
        </div>
      </div>
      <div class="hc__posts">
        <div class="hc__posts--container js--posts">
          {initialCategory.lastPosts.map((post) => (
            <HeaderCategoriesPost title={post.title} link={post.link}/>
          ))}
        </div>
        <span style="margin-top: auto;">
          <HeaderCategoriesPost title={initialTitle} link={initialCategory.link} category="true" />
        </span>
      </div>
    </div>
  </header-categories>
</div>
<script>
  import {HeaderCategories} from "./HeaderCategories";

  customElements.define('header-categories', HeaderCategories);
</script>























