---
import type {PostWindowProps} from "../../env";
import PostWindow from "../post-window/PostWindow.astro";

const {post, bigWindow}: {
  post: PostWindowProps, bigWindow?: boolean
} = Astro.props

const isBigWindow = bigWindow || false

if (!post) {
  throw new Error('PostWindow: post is undefined')
}
---
<div>
  {!bigWindow && (
    <post-transformer class="post-wrapper">
      <a href={post.link} class="post-link" data-swup-preload aria-label={ post.lastPublishOrUpdate + ' ' + post.title + ' ' + post.excerpt + ' Weiterlesen' }>
        <PostWindow post={post} bigWindow={isBigWindow} />
      </a>
      <div class="from-category">
        Aus
        <a href={post.categoryLink} class="from-category__link">{post.category}</a>
      </div>
    </post-transformer>
    )}
  {bigWindow && (
    <PostWindow post={post} bigWindow={isBigWindow}>
      <span slot="title"><slot name="title"/></span>
      <slot/>
    </PostWindow>
  )}
</div>

<style lang="scss">
  @import "../../const/styles.module.scss";

  .post-wrapper {
    position: relative;
  }

  .post-link {
    color: black;
    text-decoration: none
  }

  .from-category {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: $spacing-04 $spacing-04 * 4 $spacing-04 $spacing-04;
  }

  .from-category__link {
    color: #000;
  }

</style>
