---
import type {PostWindowProps} from "../../env";
import PostWindow from "../post-window/PostWindow.astro";

const {post, bigWindow}: {
  post: PostWindowProps, bigWindow?: boolean
} = Astro.props

const isBigWindow = bigWindow || false

if (!post) {
  throw new Error('PostWindow: post is undefined')
}
---
<div>
  {!bigWindow && (
    <post-transformer>
      <a href={post.link} class="post-link" data-swup-preload aria-label={post.title}>
        <PostWindow post={post} bigWindow={isBigWindow} />
      </a>
    </post-transformer>
    )}
  {bigWindow && (
    <PostWindow post={post} bigWindow={isBigWindow}>
      <span slot="title"><slot name="title"/></span>
      <slot/>
    </PostWindow>
  )}
</div>

<style>
  .post-link {
    color: black;
    text-decoration: none
  }
</style>
